{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Password Reset Email Sent
{% endblock %}

{% block content %}
<style>

</style>
   <div class="form w-75 mx-auto mt-3 rounded">
       <h5 class="p-4 text-center fw-bold border border-start-0 border-top-0 border-end-0">
            Password reset Complete
       </h5>
      <p class="p-4 text-center fw-bold border border-start-0 border-top-0 border-end-0">
          You have successfully reset your password. You can now sign-in <a href="{% url 'account:login' %}" class="text-decoration-none text-danger fw-bold">here</a> with your new password.
      </p>

   </div>

{% endblock %}