{% extends 'base.html' %}
{% load static %}
{% block title %} Search Results {% endblock %}

{% block content %}

    <div class="row container-fluid justify-content-center mx-auto mt-2">
        {% if query %}
            <h3 class="fw-bold">Search Query Containing <span class="fst-italic text-danger">'{{query}}'</span></h3>
            <hr class="text-danger">
            <h5 class="fw-bold">
                {% with search_results.count as total_results %}
                    Found {{ total_results }} result {{ total_results|pluralize }}
                {% endwith %}
            </h5>
            {% for product in search_results %}
                <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                    <div class="product text-center p-1">
                      <div class="product-cont rounded">
                        <div class="mb-3 position-relative">

                          <a class="d-block" href="{{ product.get_absolute_url }}">
                            <!-- Product Image -->
                            <img class="img-fluid w-100 h-100 rounded-top"
                                 src="{{ product.photo.url }}" alt="Product image">
                          </a>

                          <div class="product-overlay">
                            <ul class="mb-0 list-inline">

                              <!-- Product Like Button/ Add to Wishlist -->
                              <li class="list-inline-item m-0 p-0">
                                <a href="{% url 'wishlist:add_to_wishlist' product.id  %}" class="btn btn-sm btn-outline-danger btn-dark" role="button" aria-disabled="true">
                                  <i class="fa fa-heart"></i>
                                </a>
                              </li>

                              {% if product.available == True %}
                                <!-- Product Add to cart -->
                                <li class="list-inline-item m-0 p-0">
                                  <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    {{ cart_product_form }}
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-outline-dark fw-bold" type="submit">
                                      Buy
                                    </button>
                                  </form>
                                </li>
                              {% else %}
                                <button class="btn btn-sm btn-outline-dark fw-bold" type="submit">
                                  Out of Stock
                                </button>
                              {% endif %}

                              <!-- Product Detail -->
                              <li class="list-inline-item mr-0">
                                <a class="btn  btn-sm btn-outline-danger btn-dark" href="{{ product.get_absolute_url }}">
                                  <i class="fa fa-info p-1"></i>
                                </a>
                              </li>

                            </ul>
                          </div>
                        </div>

                        <div class="bg-highlight">
                          <h6>
                            <!-- Product title -->
                            <a class="text-decoration-none product-title fw-bold name" href="{{ product.get_absolute_url }}">
                              {{product.name | truncatewords_html:3}}
                            </a>

                            <!-- Product Price -->
                            <h5 class="small fw-bold pb-2 price">Ksh: {{ product.price }}</h5>

                            <!-- Product created date though it is hidden. it is only used for sorting-->
                            <h5 class="small fw-bold pb-2 created d-none">Ksh: {{ product.created }}</h5>
                          </h6>
                        </div>

                      </div>
                    </div>
                  </div>
            {% endfor %}
        {% else %}
            <p>Please search again. No result found for <b>"{{query}}"</b>.</p>
        {% endif %}

    </div>




{% endblock %}