{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Password Reset Email Sent
{% endblock %}

{% block content %}
<style>

</style>
   <div class="form w-75 mx-auto mt-3 rounded">
       <h5 class="p-4 text-center fw-bold border border-start-0 border-top-0 border-end-0">
            Check your Email
       </h5>
      <p class="p-4 text-center fw-bold border border-start-0 border-top-0 border-end-0">
          A message has been sent to your inbox containing the rest instructions.
          <br> If you didn't receive an email, Please ensure that you entered the correct email address.
      </p>

   </div>

{% endblock %}