
<div class="list-group list-group-cont" id="myList" role="tablist">

              <a class="list-group-item active list-group-item-action fw-bold" data-bs-toggle="{% url 'account:dashboard' %}"
                 href="{% url 'account:dashboard' %}" role="tab">
                <i class="fa fa-address-card fs-3" aria-hidden="true"> </i>
                Account Details
              </a>

              <a class="list-group-item list-group-item-action fw-bold" data-bs-toggle="order-history.html" href="order-history.html" role="tab">
                <i class="fa fa-shopping-bag fs-3" aria-hidden="true"> </i>
                Orders</a>

              <a class="list-group-item list-group-item-action fw-bold" data-bs-toggle="{% url 'wishlist:wishlist_detail' %}" href="wishlist.html" role="tab">
                <i class="fa fa-heart fs-3" aria-hidden="true"> </i>
                Wish List
              </a>

              <a class="list-group-item list-group-item-action fw-bold" data-bs-toggle="recently-viewed.html" href="recently-viewed.html" role="tab">
                <i class="fa fa-history fs-3" aria-hidden="true"> </i>
                Recently Viewed Items
              </a>

              <a class="list-group-item list-group-item-action fw-bold pt-2" data-bs-toggle="change_password.html"
                 href="{% url 'account:password_change' %}" role="tab">
                <i class="fa fa-unlock fs-3" aria-hidden="true"> </i>
                Change Password
              </a>

            </div>