asgiref==3.4.1
braintree==4.16.0
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.1.0
cryptography==38.0.1
datetime-truncate==1.1.1
Django==3.2.7
django-ckeditor==6.2.0
django-crispy-forms==1.13.0
django-jazzmin==2.4.9
django-js-asset==1.2.2
django-mailchimp==0.1.30
django-phonenumber-field==6.0.0
django-social-share==2.3.0
idna==3.3
mailchimp-marketing==3.0.75
MarkupSafe==2.1.1
phonenumbers==8.12.41
Pillow==8.4.0
pkg_resources==0.0.0
psycopg2==2.9.3
pycparser==2.21
PyJWT==2.5.0
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.21.0
pytz==2021.1
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
twilio==7.14.1
urllib3==1.26.7
